/* Стили для страницы входа */
.login-error-container {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f8d7da;
    border-radius: 8px;
}

.login-error-message {
    color: var(--error);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-forgot-password {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
}

.login-submit-btn {
    width: 100%;
    margin-bottom: 15px;
}